<div class="menu">
  <a href="/feed"
    ><img
      draggable="false"
      class="logo"
      src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png"
  /></a>
  <a class="home HOME" href="/feed">Home</a>
  <a class="home" href="/profile">Profile</a>
  <a href="/search"
    ><input id="one" type="text" class="search-bar" placeholder="Search"
  /></a>
  <button id="two" class="search-bar"></button>
  <div class="icon-container">
    <img
      tabindex="1"
      draggable="false"
      class="icon bell"
      src="https://i.hizliresim.com/rcvolcu.png"
    />
    <img
      tabindex="1"
      draggable="false"
      class="icon message"
      src="https://i.hizliresim.com/newumah.png"
    />
    <img
      tabindex="1"
      draggable="false"
      class="icon pp"
      src="/images/153642328.png"
    />
    <img
      tabindex="1"
      draggable="false"
      class="icon btn"
      src="https://i.hizliresim.com/g15mqud.png"
    />

    <!----FOCUS----->
    <div tabindex="1" class="focus-bar bell-bar">0 Notifications</div>
    <!-------------------->
    <div tabindex="1" class="focus-bar message-bar">0 Messages</div>
    <!-------------------->
    <div tabindex="1" class="focus-bar pp-bar">
      <img src="/images/153642328.png" /><a
        href="https://linktr.ee/asad.code"
        target="_blank"
        >Contact Creator</a
      >
    </div>
    <!-------------------->
    <div tabindex="1" class="focus-bar btn-bar">Pinterest Clone</div>
  </div>
</div>
<!--------------------------->
<div class="responsive-search-bar">
  <input type="text" />
  <p class="close">❌</p>
</div>
